.heading {
  margin-bottom: 20px;
}

.innerLeft {
  padding-right: 12.5px;
  margin-bottom: 25px;
}

.innerRight {
  padding-left: 12.5px;
  margin-bottom: 25px;
}

@media (max-width: 768px) {
  .innerLeft {
    padding-right: 0;
    margin-bottom: 20px;
  }

  .innerRight {
    padding-left: 0;
    margin-bottom: 20px;
  }
}
