footer {
  background-color: #f9d8ea;
  height: 180px;
  padding-top: 30px;
}

.logo {
  font-size: 1.4em;
  font-weight: 700;
  font-family: 'Playfair Display', serif;
}

.socialIcons {
  text-align: right;
}

.icon {
  width: 80px;
}

@media (max-width: 768px) {
  footer {
    text-align: center;
    height: 250px;
  }

  .socialIcons {
    text-align: center;
  }
}

@media (max-width: 992px) {
  .icon {
    width: 60px;
  }
}
