.custom-brand {
  color: #000;
  font-size: 1.8em;
  font-weight: 700;
  font-family: 'Playfair Display', serif;
}

.custom-brand:hover {
  color: #000;
  text-decoration: none;
}

.custom-nav-link {
  color: #000;
  padding-left: 50px;
}

.custom-nav-link:hover {
  color: #007bff;
  text-decoration: none;
}

@media (max-width: 768px) {
  .custom-nav-link {
    padding: 10px 0;
    text-align: center;
  }
}
